<%= link_to "Play Random Kayak Video", "#", :class => "btn btn-large btn-primary disabled play-button", 
	:id => "whitewater", :name => "" %>
<%= link_to "Play Random MTB Video", "#", :class => "btn btn-large btn-primary disabled play-button",
	:id => "mtb", :name => "" %>
</div>
<div class="span12">&nbsp;</div>
<div id="player" class="span12">
	<iframe src="" width="940px" height="470px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>